extends layout

block title_top
  | Silvio Casa

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | #{title}

block breadcrumb
  ul.page-breadcrumb.breadcrumb
    li
      i.fa.fa-home
    li
      a(href="/")
        | Dashboard
      i.fa.fa-angle-right


block page_content
  .row
    .col-md-12
      .portlet.box.yellow
        .portlet-title
          .caption
            i.fa.fa-coffee
            | Notifications
        .portlet-body
          .table-responsive
            table.table.table-bordered.table-hover
              thead
                tr
                  th
                    | #
                  th
                    | Item Name
                  th
                    | Item Code
                  th
                    | Action
              tbody
                -each item, i in items
                  tr
                    td
                      | #{i+1}
                    td
                      | #{item.name}
                    td
                      | #{item.code}
                    td
                      a.btn.blue.btn-sm.disable-notification(item-id="#{item.id}")
                        | Disable Notification