extends layout

block title_top
  | Silvio Casa

block meta_tags
  meta(content='', name='description')
  meta(content='', name='author')

block title
  | #{title}

block hint
  | Hint

block title_left
  | YOYO

block breadcrumb
  ul.page-breadcrumb.breadcrumb
    li
      i.fa.fa-home
    li
      a(href="item")
        | Invoice
block page_content
  .row
    .col-md-12
      .portlet.box.light-gray
        .portlet-title
          .caption
            i.fa.fa-search
            | Search Invoice
        .portlet-body.form
          form.form-horizontal#invoice(action='/invoice' method='post')
            .form-body
              .form-group
                label.control-label.col-md-3
                  | Search By
                .col-md-4
                  .radio-list
                    label.radio-inline
                      span
                        input(type='radio' class='' name='search-type' value='yes' style='margin-left:0px;')
                      | &nbsp;Customer Name
                    label.radio-inline
                      span
                        input(type='radio' class='' name='search-type' value='no' style='margin-left:0px;' checked)
                      | &nbsp;Id
              .form-group
                label.control-label.col-md-3
                  | Customer Name
                  span.required
                    | *
                .col-md-4
                  input.form-control#customer-name(name='name')
              .form-group
                label.control-label.col-md-3
                  | Invoice Number
                  span.required
                    | *
                .col-md-4
                  input.form-control#invoice-number(name='name')
            .col-md-offset-3.col-md-9
              button.btn.green(type="button" id='search' name="btn_search" style="margin-bottom:20px") Submit
        .portlet-body
          table#sample_2.table.table-striped.table-bordered.table-hover.table-full-width
            thead
              tr
                th
                  | Invoice Number
                th
                  | Customer Name
                th
                  | Invoice Date
                th
                  | Advance
                th
                  | Total Amount
                th
                  | Actions
            tfoot
              tr
                th
                  | Invoice Number
                th
                  | Customer Name
                th
                  | Invoice Date
                th
                  | Advance
                th
                  | Total Amount
                th
                  | Actions      
            tbody
              - each invoice in invoices
                tr
                  td
                    | #{invoice.id}
                  td
                    | #{invoice.customer_name}
                  td
                    | #{invoice.created_at}
                  td
                    | #{invoice.advance}
                  td
                    | #{invoice.total_payable_amount}
                  td
                    button.order-delete.btn.default.red-stripe(bill-id="#{invoice.id}")
                      i.fa.fa-times
                      | Cancel Order
                    a.btn.default.red-stripe.edit-bill(bill-id="#{invoice.id}" data-toggle='modal' href='#basic')
                      i.fa.fa-edit
                      | Edit
                    a.btn.default.red-stripe.view-order(target='blank', href="viewBill/#{invoice.id}")
                      i.fa.fa-bars
                      | View
            #basic.modal.fade(tabindex="-1", role="basic", aria-hidden="true", style="display: none;")
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    h4.modal-title Modal Title
                  .modal-body
                    form#form_sample_1.form-horizontal(action="#", method="post")
                      .form-group
                        .row
                          label.control-label.col-md-4 Customer Name
                          .col-md-6
                            input#order-id(type='hidden' name='id')
                            input#customer_name.form-control(type="text", autocomplete="off", name="customer_name", value="")
                      .form-group
                        .row
                          label.control-label.col-md-4 Address
                          .col-md-6
                            input#address.form-control(type="text", name="address", autocomplete="off", value="")
                  .modal-footer
                    button.btn.default#close-modal(type="button", data-dismiss="modal") Close
                    button#update_invoice.btn.btn-success.update_invoice(name="update_invoice", type="button") Update
                // /.modal-content
              // /.modal-dialog
block doc_ready
  script.
    $(document).ready(function(){
      $('.order-delete').click(function(){
        $(this).html("Removing...");
        $.get("/deleteBill/"+$(this).attr('bill-id'), function(data) {
            if(data.success == "true"){
                $(this).html("Removed");
                bootbox.alert(data.message, function(){
                  window.location.replace("/invoice");
                });
            } else {
                bootbox.alert(data.message);
                // $(".generate_bill").html("Generate Bill");
            }
        });
      });
      $('.edit-bill').click(function(){
        $(this).html("Editing...");
        $.get("/bill/"+$(this).attr('bill-id'), function(data) {
          $('#order-id').val(data.order[0].id);
          $('#customer_name').val(data.order[0].customer_name);
          $('#address').val(data.order[0].address);
        });
      });
      $('#update_invoice').click(function(){
        var val=$('#form_sample_1').serialize();
        $.post("/updateBill/",val, function(data) {
            if(data.success == "true"){
                $('#close-modal').click();
                $("#update_invoice").html("Updating...");
                bootbox.alert(data.message, function(){
                  window.location.replace("/invoice");
                });
            } else {
                bootbox.alert(data.message);
                $("#update_invoice").html("Updating...");
            }
        });
      });
    });